<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jimsajo.Mapper.InquiryMapper">
	<!-- 문의 추가 -->
    <insert id="insertInquiry" parameterType="com.jimsajo.Dto.InquiryDto">
        INSERT INTO inquiry (iTitle, iType, iContent, iTime, iImage, mNum)
        VALUES (#{iTitle}, #{iType}, #{iContent}, NOW(), #{iImage}, #{mNum})
    </insert>
	<!-- 문의 목록 조회 -->
    <select id="selectAllInquiries" resultType="com.jimsajo.Dto.InquiryDto">
        SELECT * FROM inquiry
    </select>
    <!-- 관리자페이지 문의목록 -->
	<select id = "selectAllInquiryByAdmin" parameterType="int" resultType="com.jimsajo.Dto.InquiryDto">
		select 
		 m.mName as mName, 
		 i.iTitle as iTitle,
		 i.iType as iType
		 from inquiry i join member m
		 on m.mNum = i.mNum
	</select>  
      <!-- 문의 상세 조회 -->
	<select id="getInquiryById" parameterType="int" resultType="com.jimsajo.Dto.InquiryDto">
        SELECT * FROM inquiry WHERE iNum = #{iNum}
    </select>
    <!-- 문의 수정 -->
    <update id="updateInquiry" parameterType="com.jimsajo.Dto.InquiryDto">
        UPDATE inquiry
        SET iTitle = #{iTitle}, iType = #{iType}, iContent = #{iContent}, iTime = #{iTime}
        WHERE iNum = #{iNum};
    </update>

    <!-- 문의 삭제 -->
    <delete id="deleteInquiry" parameterType="int">
        DELETE FROM inquiry WHERE iNum = #{iNum};
    </delete>
</mapper>


