<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jimsajo.Mapper.PackageMapper">

    <!-- 패키지 등록 -->
    <insert id="insertPackage" parameterType="com.jimsajo.Dto.PackageDto">
        INSERT INTO package (pName, pCountry, pDescription, pCreate, pPrice, pImage)
        VALUES (#{pName}, #{pCountry}, #{pDescription}, #{pCreate}, #{pPrice}, #{pImage})
    </insert>

    <!-- 전체 패키지 목록 조회 -->
    <select id="selectPackage" resultType="com.jimsajo.Dto.PackageDto">
        SELECT * FROM package
    </select>

    <!-- 특정 패키지 조회 -->
    <select id="selectPackageById" resultType="com.jimsajo.Dto.PackageDto">
        SELECT * FROM package WHERE pNum = #{pNum}
    </select>

    <!-- 패키지 수정 -->
    <update id="updatePackage" parameterType="com.jimsajo.Dto.PackageDto">
        UPDATE package
        SET 
            pName = #{pName}, 
            pCountry = #{pCountry}, 
            pDescription = #{pDescription}, 
            pCreate = #{pCreate}, 
            pPrice = #{pPrice}, 
            pImage = #{pImage}
        WHERE pNum = #{pNum}
    </update>

    <!-- 패키지 삭제 -->
    <delete id="deletePackage">
        DELETE FROM package WHERE pNum = #{pNum}
    </delete>

    <!-- 국가별 패키지 조회 -->
    <select id="selectPackageByCountry" resultType="com.jimsajo.Dto.PackageDto">
        SELECT * FROM package WHERE pCountry = #{pCountry}
    </select>
   
	   <!-- 추천 여부 확인 -->
	<select id="checkPackageRecommendation" resultType="int">
	    SELECT COUNT(*) FROM recommendations WHERE package_id = #{pNum}
	</select>
	
	<!-- 추천 등록 -->
	<insert id="insertPackageRecommendation" parameterType="int">
	    INSERT INTO recommendations (package_id) VALUES (#{pNum})
	</insert>
	
	<!-- 추천된 패키지 목록 조회 -->
	<select id="selectRecommendedPackages" resultType="com.jimsajo.Dto.PackageDto">
	    SELECT p.*
	    FROM package p
	    INNER JOIN recommendations r ON p.pNum = r.package_id
	</select>
	
	<select id="selectPackagesByMemberAndCountry" resultType="com.jimsajo.Dto.PackageDto">
	  SELECT DISTINCT 
	    p.pNum        AS pNum,
	    p.pName       AS pName,
	    p.pCountry    AS pCountry,
	    p.pDescription AS pDescription,
	    p.pCreate     AS pCreate,
	    p.pPrice      AS pPrice,
	    p.pImage      AS pImage
	  FROM package p
	  JOIN orders o ON p.pNum = o.pNum
	  WHERE o.mNum = #{mNum}
	    AND p.pCountry = #{country}
	</select>
	
</mapper>



